{% extends 'olustur/base.html' %}

{% block title %} <title>QR Kod Oluştur</title> {% endblock title %}

{% block content %}
    <h2>QR Kod Oluştur</h2>
    <form method="POST" action="{% url 'olustur:home' %}">
        {% csrf_token %}
        <label for="link">URL Adresi Girin:</label>
        {% if special_url %}
            <input type="text" name="url" value="{{ special_url }}" required>
        {% else %}
            <input type="text" name="url" required>
        {% endif %}
        <button type="submit">Oluştur</button>
    </form>

    {% if qrkod %}
        <h3>İşte QR Kodunuz</h3>
        <img src="data:image/png;base64,{{ qrkod }}" alt="QR Kod">
    {% endif %}
{% endblock content %}