{% extends 'olustur/base.html' %}

{% block title %} <title>QR Kod Oluşturucu</title> {% endblock title %}

{% block content %}
    <h1>QR Kod Oluştur</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="link">URL Adresi Girin:</label>
        <input type="text" name="link" required>
        <button type="submit">Oluştur</button>
    </form>

    {% if qrkod %}
        <h3>İşte QR Kodunuz</h3>
        <img src="data:image/png;base64,{{ qrkod }}" alt="QR Kod">
    {% endif %}
{% endblock content %}
