{% extends 'olustur/base.html' %}

{% block title %} <title>QR Kod Oluştur</title> {% endblock title %}

{% block content %}
    <h2>QR Kod Oluştur</h2>
    <form method="POST" action="{% url 'olustur:home' %}" style="display: flex; flex-direction: column; gap: 0.5rem;">
        {% csrf_token %}
        <label for="link">URL Adresi Girin:</label>
        <div style="display: flex; align-items: center; gap: 0.5rem;">
            {% if special_url %}
                <input type="text" name="url" id="textbar" value="{{ special_url }}" required style="flex: 1;" placeholder="Metin Girin">
            {% else %}
                <input type="text" name="url" id="textbar" required style="flex: 1;" placeholder="Metin Girin">
            {% endif %}

            <select name="ozellik" style="height: 100%; padding: 0.3rem;">
                <option value="genel">Genel</option>
                <option value="ozel">Özel</option>
            </select>
        </div>

        <button type="submit">Oluştur</button>
    </form>


    {% if qrkod %}
        <h3>İşte QR Kodunuz</h3>
        <img src="data:image/png;base64,{{ qrkod }}" alt="QR Kod">
    {% endif %}

    <script>
        function focusOnBar(event) {
            const box = document.getElementById("textbar");

            if (document.activeElement === box) {
                return;
            }

            if (event.key === "." && !event.ctrlKey && !event.metaKey) {
                event.preventDefault();
                box.focus();
            }
        }

        document.addEventListener('keydown', focusOnBar);
    </script>
{% endblock content %}