.navbar {
  background-color: #101415 !important;
  font-family: "Fira Sans", serif;
  font-style: italic;
}

.navbar-brand {
  font-size: 2rem !important;
  color: #fbfff4 !important;
  text-decoration: none;
}

.navbar-brand:hover {
  color: #fbfff4 !important;
}

.navbar .btn-outline-light {
  border-color: #fbfff4;
  color: #fbfff4;
}

.navbar .btn-outline-light:hover {
  background-color: #fbfff4;
  color: #101415;
}
