{% extends 'olustur/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %} <title>{% trans "QR Oluştur" %}</title> {% endblock title %}

{% block content %}
    <div class="content-section">
        <h2>{% trans "Başarıyla Çıkış Yaptınız" %}</h2>
        <div class="border-top pt-3">
            <small class="text-muted">
                <a href="{% url 'login' %}" class="ml-2">{% trans "Tekrar Giriş Yap" %}</a>
            </small>
        </div>
    </div>
{% endblock content %}