{% extends 'olustur/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %} <title>{% trans "QR Oluştur - Üye Ol" %}</title> {% endblock title %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-botton mb-4">{% trans "Üye Olun" %}</legend>
                {{ form|crispy }}
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">{% trans "Üye Ol" %}</button>
                </div> 
            </fieldset>
        </form>

        <div class="border-top pt-3">
            <small class="text-muted">
            {% url 'login' as login_url %}
            {% blocktrans trimmed with login_url=login_url %}
                Zaten hesabınız var mı? <a href="{{ login_url }}" class="ml-2">Giriş Yap</a>
            {% endblocktrans %}
            </small>
        </div>
    </div>
{% endblock content %}